
/* ============= Font Control =============== */
@font-face {
  font-family: "Myriad";
  src: url(myriad.otf);
}

body {
  font-family: "Myriad";
  margin: 0;
}

h2, .upperNav {
  font-family: "Oswald";
}

h1, h2, .logo, .upperNav {
  text-transform: uppercase;
  font-weight: normal;
}

body * {
  vertical-align: top;
}

h2 {
  font-size: 4em;
  letter-spacing: -.013em;
  color: #083451;
  line-height: 1.1em;
}

a {
  text-decoration: none;
}

.smGrey {
  color: #95A7B5;
  font-size: 1.05em;
  font-weight: 600;
  letter-spacing: -.034em;
}

/* ============= Header ===================== */

header {
  background: linear-gradient(
      rgba(20, 100, 175, 0.85),
      rgba(20, 100, 175, 0.85)),
      url(http://miriadna.com/desctopwalls/images/max/Ocean-waves-2.jpg);
  height: 523px;
  overflow: auto;
}

.upperHeader {
  margin: .45em auto .45em 8.85em;
  text-transform: uppercase;
  max-width: 1000px;
}

.upperHeader * {
  vertical-align: middle;
  color: #083451;
}

.upperHeader i {
  font-size: 3.25em;
}

.upperHeader span {
  font-weight: 600;
  margin-left: .8em;
  font-size: 1.05em;
  letter-spacing: -.04em;
}

.upperNav {
  float: right;
  margin-top: .52em;
}

.upperNav a {
  font-size: 1.1em;
  margin: 0 .38em;
}

.upperNav i {
  font-size: 1.1em;
  margin: 0 0 .3em .37em;
}
.companyName {
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 6.95em;
  margin: 1.55em auto 0 auto;
  letter-spacing: -.008em;
  line-height: .74em;
  text-shadow: 0 1px 3px #083451;
}

.companyName span {
  letter-spacing: -.033em;
  font-weight: 600;
  color: #083451;
  margin-left: -.15em;
}

/* ============= Main ===================== */

main {
  max-width: 1000px;
  margin: 0 auto;
}

.postTitle {
  margin: .97em 0 0 .2em;
}

.byline {
  margin: .55em 1.3em;
  font-size: .8em;
}

.byline * {
  vertical-align: bottom;
}

.byline img {
  width: 1.71em;
}

.byline a {
  font-weight: 700;
  color: #3283BE;
  margin-left: .48em;
  letter-spacing: -.03em;
}

.datetime {
  margin-left: 1em;
  text-decoration: underline;
}

.datetime::before {
  content: "on ";
  text-decoration: none;
}

.authorAvatar {
  border-radius: 50%
}

.mainPost {
  max-width: 700px;
  float: left;
  overflow: auto;
}

.mainPostBody {
  font-size: 1.02em;
  margin: 2.2em 4em 0 .8em;
  font-weight: 700;
  letter-spacing: -.039em;
  line-height: 1.6em;
  color: #5E686F;
}

.mainPostBody p {
  margin-bottom: 1.7em;
}

blockquote {
  border-left: 1px solid #95A7B5;
  padding: 2em;
  color: #3283BE;
  text-transform: uppercase;
  font-size: 2em;
}

.sidebar {
  max-width: 300px;
  float: left;
  overflow: auto;
}

.authorInfo img {
  width: 5em;
}

.featuredPosts {
  clear: both;
}
